.btn-ask {
  color: white;
  background-color: #337AB7;
  height: 3rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
  width: 3rem;
}

.form-input {
  width: 40rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid gainsboro;
}
